* {
  box-sizing: border-box;
  margin: 0;
  color: #0F1111 !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important
}

body {
  padding: 15px;
}

.item-section, .sauce-section {
  display: grid;
  justify-content: center;
}

div.container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

div.container > div {
  border: solid 1px #D5DBDB;
  padding: 5px;
  border-radius: 3px;
  max-width: 7rem;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

div.container > div > img {
  max-width: 100%;
  border-radius: 3px;
  z-index: 0;
  cursor: pointer;
}

div.container > div > label {
  text-align: center;
  font-size: 10px;
  font-weight: 450;
}

div.container > div > h3 {
  text-align: center;
  font-size: 10px;
}